@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  scroll-padding-top: 2rem;
}

:root {
  --second-color: #ebeff2;
  --text-color: #02171d;
  --bg-color: #fff;
  --box-shadow: 2px 2px 10px 4px rgb(14 15 54 / 15%);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: transparent;
  border-bottom:1px solid white;
}

.navLinks{
    justify-content: space-between;
}
.navbar {
  display: flex;
  column-gap: 2.4rem;
  position: absolute;
  left:20%;
}

.navbar a {
  font-size: 16px;
  font-weight: 400;
  color:white;
}

.header-icons button {
  cursor: pointer;
  /* position: absolute; */
  background:transparent;
  border-radius:7px;
  font-size: 14px;
  padding: 10px;
  width:90px;
  height:38px;
  border: 2px solid white;
  color: white;
  text-align: center;
}

.imgHome{
    height:700px;
    width: 100vw;
}

.main{
    position:absolute;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

.title{
    flex-direction: column;
}
.title h1:nth-child(1){
    color: white;
    font-size: 48px;
}
.title h1:nth-child(2){
    color: rgb(13, 120, 196);
    font-size: 33px;
}

table{
    color: white;
    border-spacing: 0;
    border-collapse: 0;
}

table select{
    background:none;
    outline: none;
    border: none;
    color: white;
    font-size: 21px;
}

table:nth-child(1){
    font-size:15px;
}

.border{
    border-radius: 2px;
}

.border td{
    width:280px; 
    height:25px;
    border: 2px solid white;
    padding: 30px;
    text-align: center;
}

.noBorder td{
    border: 0;
    text-align: center;
}


.footer{
    background-color: rgb(90, 90, 90);
    padding: 0 30px 0 30px;
    justify-content: space-between;
    height: 100px;
}

.footText{
    gap: 50px;
}

.footText h3{
    font-size: 16px;
    color: white;
    font-weight:400;
}
